# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code
.vscode/
.env
.vscode/
.idea/

# Assets binaries
assets/ffmpeg*
assets/ffprobe*
assets/*.exe

# Logs
logs/
*.log

# 虛擬環境
venv/
.venv/
env/
.env/
ENV/
pyenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.spec

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/


# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini